<footer>
  <section class="info">
    <div class="left">
      <div class="logo">Sandro's</div>
      <div>6 Dolgerddon Bungalow, East Street, Rhayader,LD6 5DP</div>
      <div>
        PHONE <a href="#"> +0 123 456 789</a> |
        <a href=""> +0 123 456 789</a>
      </div>
      <div>EMAIL <a href="#"> info@sandrospizza.com</a></div>
    </div>
    <div class="right">
      <div><strong>OPENING HOURS</strong></div>
      <div>Mon - Tue: 2.00pm - 10.00pm</div>
      <div>Wed - Thu: 10.00am - 10.00pm</div>
      <div>Fri - Sat: 10.00am - 1.00am</div>
      <div>Sunday: <span class="closed">CLOSED</span></div>
    </div>
  </section>
  <hr />
  <section class="bottom">
    <div class="copyright">©2022 Sandro Bencinic all Rights Reserved.</div>
    <div class="social">
      <a href="#f">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="#t">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="#l">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="#i">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </section>
</footer>
